<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="RemoteLookupSQL" connectionString="Data Source=CDLALO4\SQLEXPRESS;Initial Catalog=RWAREDBNormalized;Integrated Security=True;Pooling=False;user id=sa;password=compudata" />
    <add name="LocalLookupSQL" connectionString="metadata=res://*/ContextDB.csdl|res://*/ContextDB.ssdl|res://*/ContextDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CDLALO4\SQLEXPRESS;initial catalog=FinderDB_New;persist security info=True;user id=sa;password=compudata;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="RepositoryName" value="MethodistPathology" />
    <add key="VFRFieldName" value="CaseNumber" />
    <add key="SolrHostName" value="10.166.17.54" />
    <add key="SolrPort" value="7574" />
    <add key="QueryScope" value="MEMBER" />
    <add key="UniqueFieldName" value="Name" />
    <add key="New_FRID" value="1" />
    <add key="Sleep" value="1000" />
    <add key="Volume" value="VOL1" />
    <add key="RelativePath" value="\\VFRServices\data" />
    <add key="WorkingDirectory" value="c:\Temp\Test" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>